html {
  min-height: 100%;
}
body {
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: #f6f7f8;

  /* Fix for light blue selection popup on mobile devices */
  -webkit-tap-highlight-color: transparent; /* For mobile browsers to remove tap highlight */
  user-select: none; /* Prevent text selection on tap */
  outline: none; /* Remove focus outline */
}

.container-all {
  height: 100%;
  margin: 96px 0px 0px 328px;
}

.container-headline {
  display: flex;
  align-items: center;
  gap: 18px;
}

.heading-dash {
  border: 1px solid #29abe2;
  height: 59px;
}

.headline-join {
  font-size: 61px;
  margin: 28px 0px;
}

.under-headline {
  font-size: 27px;
  font-weight: 400;
}

.container-main {
  display: flex;
  gap: 18px;
}

.container-left {
  transition: all 200ms ease-in-out;
  width: 264px;
  height: 168px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.container-left:hover {
  background-color: #2a3647;
  color: white;
  transform: scale(1.05) translate(8px); /* Vergrößert den Container und verschiebt ihn nach rechts */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.container-left:hover svg path {
  fill: #2a3647;
}

.container-left:hover svg circle {
  fill: white;
}

.container-right {
  width: 264px;
  height: 168px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
}

.container-right {
  -webkit-tap-highlight-color: transparent; /* For mobile browsers to remove tap highlight */
  user-select: none; /* Prevent text selection on tap */
  outline: none; /* Remove focus outline */
}

.container-right:hover {
  background-color: #2a3647;
  color: white;
  transform: scale(1.05) translate(-8px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.container-right:hover svg path {
  stroke: #2a3647;
  transition: all 200ms ease-in-out;
}

.container-right:hover svg circle {
  fill: white;
  transition: all 200ms ease-in-out;
}

.container-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-size {
  font-size: 64px;
  font-weight: 600;
}

.text-size {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.container-main-middle {
  display: flex;
}

.container-middle {
  transition: all 200ms ease-in-out;
  width: 545px;
  height: 168px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  margin: 0px 0px 20px 0px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.container-middle:hover {
  background-color: #2a3647;
  color: white;
  transform: scale(1.05) translateY(4px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.dash-line {
  border: 1px solid #d1d1d1;
  height: 102px;
}

.data-year-size {
  font-size: 21px;
  font-weight: 700;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.welcome-headline {
  font-size: 47px;
  font-weight: 700;
}

.welcome-under-headline {
  display: flex;
  font-size: 64px;
  font-weight: 700;
  color: #29abe2;
}

.container-below-left {
  transition: all 200ms ease-in-out;
  width: 168px;
  height: 168px;
  margin-right: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.container-below-left:hover {
  background-color: #2a3647;
  color: white;
  transform: scale(1.08) translate(10px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.container-below-middle {
  transition: all 200ms ease-in-out;
  width: 168px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.container-below-middle:hover {
  background-color: #2a3647;
  color: white;
  transform: scale(1.08);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.container-below-right {
  transition: all 200ms ease-in-out;
  width: 168px;
  height: 168px;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.container-below-right:hover {
  background-color: #2a3647;
  color: white;
  transform: scale(1.08) translate(-10px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

#mainGreetingOverlayId {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f7f8;
  opacity: 1;
  transition: opacity 1.3s ease;
}

#childGreetingOverlayId {
  margin: 0px 0px 0px 232px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1250px) {
  .welcome-container {
    display: none;
  }

  .container-all {
    margin: 96px 0px 0px 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mainGreetingOverlayId {
    display: flex;
  }
}

@media (max-width: 1020px) {
  #childGreetingOverlayId {
    margin: 0px 0px 0px 180px;
  }
}

@media (max-width: 1000px) {
  .container-all {
    margin: 96px 0px 0px 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .container-all {
    margin: 96px 0px 0px 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline-join {
    font-size: 56px;
  }

  .under-headline {
    font-size: 22px;
  }
}

@media (max-width: 800px) {
  .container-all {
    margin: 96px 0px 0px 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-left {
    width: 224px;
    height: 168px;
  }

  .container-right {
    width: 224px;
    height: 168px;
  }

  .container-middle {
    width: 465px;
    height: 168px;
  }

  .container-below-left {
    width: 141px;
    height: 168px;
  }

  .container-below-middle {
    width: 141px;
    height: 168px;
  }

  .container-below-right {
    width: 141px;
    height: 168px;
  }

  .headline-join {
    font-size: 46px;
  }

  .under-headline {
    font-size: 18px;
  }
}

@media (max-width: 720px) {
  .container-left {
    width: 200px;
  }

  .container-right {
    width: 200px;
  }

  .container-middle {
    width: 418px;
  }

  .container-below-left {
    width: 126px;
    height: 140px;
  }

  .container-below-middle {
    width: 126px;
    height: 140px;
  }

  .container-below-right {
    width: 126px;
    height: 140px;
  }

  .headline-join {
    font-size: 41px;
  }

  .under-headline {
    font-size: 17px;
  }

  .number-size {
    font-size: 54px;
  }

  .text-size {
    font-size: 16px;
  }

  .data-year-size {
    font-size: 20px;
  }

  svg {
    width: 50px;
  }

  .dash-line {
    height: 90px;
  }
}

@media (max-width: 670px) {
  .container-all {
    margin: 96px 0px 0px 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-left {
    width: 200px;
  }

  .container-right {
    width: 200px;
  }

  .container-middle {
    width: 418px;
  }

  .container-below-left {
    width: 126px;
    height: 140px;
  }

  .container-below-middle {
    width: 126px;
    height: 140px;
  }

  .container-below-right {
    width: 126px;
    height: 140px;
  }

  .headline-join {
    font-size: 41px;
  }

  .under-headline {
    font-size: 17px;
  }

  .number-size {
    font-size: 54px;
  }

  .text-size {
    font-size: 16px;
  }

  .data-year-size {
    font-size: 20px;
  }

  svg {
    width: 50px;
  }

  .dash-line {
    height: 90px;
  }
}

@media (max-width: 620px) {
  .container-all {
    margin: 0px 0px 00px 0px;
    padding: 70px 0px 80px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #childGreetingOverlayId {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 470px) {
  html {
    min-height: 100%;
    display: flex;
    align-items: center;
  }
  body {
    min-height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container-left {
    width: 140px;
    height: 90px;
  }

  .container-right {
    width: 140px;
    height: 90px;
  }

  .container-middle {
    width: 296px;
    height: 140px;
  }

  .container-below-left {
    width: 85px;
    height: 118px;
  }

  .container-below-middle {
    width: 85px;
    height: 118px;
  }

  .container-below-right {
    width: 85px;
    height: 118px;
  }

  .headline-join {
    font-size: 31px;
  }

  .under-headline {
    font-size: 12px;
  }

  .number-size {
    font-size: 34px;
  }

  .text-size {
    font-size: 14px;
  }

  .data-year-size {
    font-size: 18px;
  }

  svg {
    width: 40px;
  }

  .heading-dash {
    height: 49px;
  }

  .dash-line {
    height: 82px;
  }
}

@media (max-width: 350px) {
  .welcome-headline {
    text-align: center;
  }
}
