body {
    margin: 0;
<<<<<<< HEAD
    font-family: 'Inter';
=======
    font-family: 'inter';
>>>>>>> a39906a7b4d28d48f4c6b79bc15cf5f1f240c473
}
.mainDiv {
    margin-left: 232px;
    margin-top: 96px;
    height: 100vh;
    background-color: #f6f7f8;
    
    
}
.headDiv {
    margin-left: 64px;
    margin-top: 79px;
    
}
.cardsDiv img:hover {
    cursor: pointer;
}
.underBarDiv {
    display: flex;
    align-items: center;
}
.underBarDiv img:hover {
    cursor: pointer;
}
#addTask:hover {
    cursor: pointer;
}