@media (max-width: 1750px) {
  /* .containerDivCards1 {
      display: flex;
      flex-direction: column;
    
    } */
    /* #boardImg {
      margin: 0;
    } */

 
    
    .containerDivCards2 {
      display: flex;
      
    }
    

  .mediaQuerryBoardAdd {
      display: flex;
      align-items: center;
      
    }

   
}




@media (max-width: 1410px) {
    /* .containerDivCards1 {
        display: flex;
        flex-direction: column;
    } */
       
      /* #boardImg {
        margin: 0;
      } */

      
      
      /* .containerDivCards2 {
        display: flex;
        flex-direction: column;
      } */
      .headDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* margin-left: 96px; */
    }
    .mediaQuerryBoardAdd {
        display: flex;
        align-items: center;
        
      }
      .cardsDiv{
        flex-direction: column;
      }

     
}

@media (max-width: 1020px) {
.mainDivContainer{
  margin: 128px 0px 0px 180px;
}

}

@media (max-width: 830px)  {


 /* .mainDivContainer {
  margin-left: 48px
 }  */
  .mainDiv {
    /* margin-left: 160px; */
    /* width: 80%; */
    margin-bottom: 120px;
}
/* .cardsDiv {
  display: flex;
  flex-direction: column;
  margin: 0;
  
} */
.headDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin: 0; */
  
}

.inputAddTask {
  display: flex;
  margin: 0px;
  
}
.addTaskButtonClass {
  display: none;
}
/* .containerDivCards1 {
  display: flex;
  flex-direction: column;

} */
.mediaQuerryBoardAdd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 354px; */
}

.containerInputField{
  width: 100%;
  margin: 16px 0px 0px 0px;
}

.mediaQuerryBoardAdd svg{
  display: block;
}

.mediaQuerryBoardAdd:hover svg {
  cursor: pointer;
}
/* .addLine {
  width: 354px;
} */
/* .drag-area {
  width: 324px;
  display: flex;
  overflow-x:auto;
} */
}


@media (max-width: 775px) {
  .drag-area {
    width: 420px;
    display: flex;
    overflow-x:auto;
   
  }
  .containerDivCards1{
    flex-direction: column;
  }

  .containerDivCards2{
    flex-direction: column;
  }

  .cardContainerInnert{
    width: 240px;
   
    
  }
  .mainSingleCardDivClass{
    margin: 8px 12px 0px 0px;
  }
  .addLine{
    margin: 16px 0px 0px 0px;
  }
  .cardsDiv{
    margin: 8px 0px 0px 0px;
  }
  .containerInputField{
    margin: 16px 0px 0px 0px;
  }

}

@media (max-width: 700px) {
  .contentDiv{
    width: 90%;
  }
  .drag-area {
    /* width: 420px; */
    
   width: unset;
  }
}




@media (max-width: 620px) {
  .mainDivContainer{
    margin: 84px 0px 0px 0px;
  }
    .mainDiv {
        margin-left: 0;
        width: 100%;
        margin-bottom: 120px;
    }

    .cardsDiv {
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }
    .headDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        
    }
    
    .inputAddTask {
        display: flex;
        margin: 0px;
        
    }
    .addTaskButtonClass {
        display: none;
    }
    .containerDivCards1 {
        display: flex;
        flex-direction: column;
      
      }
      .mediaQuerryBoardAdd {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* width: 354px; */
      }
      /* #boardImg {
        margin: 0;
      } */
      .mediaQuerryBoardAdd svg{
        display: block;
      }

      .mediaQuerryBoardAdd:hover svg {
        cursor: pointer;
      }
      .addLine {
        /* width: 354px; */
        /* width: 90%; */
      }
      
        
    
      .mainSingleCardDivClass {
        
        margin-right: 12px;
      }
      .mainDivContainer {
        margin-left: 0;
      }
      .cardContainerInnert {
        width: 240px;
      }
}

@media (max-width: 390px) {
    .inputField {
     width: 90%;
      border: none;
    }

    .containerInputField {
      /* width: 274px; */
      /* height: 34px; */
      /* padding: 0; */
    }
    .mediaQuerryBoardAdd {
      display: flex;
      align-items: center;
      justify-content: space-between;
      /* width: 270px; */
    }
    .addLine {
      /* width: 270px; */
    }
    .drag-area {
      /* width: 275px; */
      
    }
  }
    
    /* ////////////////LARGE CARD OVERLAY CSS RESPONSIVE /////////////////////////////// */

    @media (max-width: 550px) {
      .popupMainDiv {
        /* height: fit-content; */
        width: 320px;
        background-color: white;
        border-radius: 30px;
        border: solid 1px #00000029;
        display: flex;
        flex-direction: column;
     
      }

      .mainPopupDivClass {
        /* width: 300px; */
      }
      .mainPopupDivClass {
        /* width: 260px; */
        margin:  28px 0px 8px 28px;
      }

      .headLineCloseButton, .BoardOverlayHeadLinDivClass, .subTasksDivClass, .deleteEditContactDivClass 
        {
        /* width: 270px; */
        font-size: 18px;
      }
     
      .BoardOverlayHeadLinDivClass {
        font-size: 42px;
      }
      .deleteEditContactDivClass {
        
        margin: 0px 28px 16px 0px
      }
       
    }

    @media (max-width: 380px) {
      /* .popupMainDiv {
        height: fit-content;
        width: 312px;
        background-color: white;
        border-radius: 30px;
        border: solid 1px #00000029;
        display: flex;
        flex-direction: column;
        align-items: center;
      } */

      /* .mainPopupDivClass {
        width: 264px;
      }

      .headLineCloseButton, .BoardOverlayHeadLinDivClass, .subTasksDivClass, .deleteEditContactDivClass 
        {
        width: 264px;
      } */
      
    }
