@media (max-width: 620px) {
    .mainDiv {
        margin-left: 4px;
        width: 100%;
        margin-bottom: 120px;
    }

    .cardsDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .headDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .inputAddTask {
        display: flex;
        margin: 0px;
    }

}