html {
  height: 100%;
}
body {
  background-color: #f6f7f8;
  height: 100%;
}

.addTaskMainSiteDivClass {
  padding: 96px 0px 0px 232px;
}

.addTaskMainTemplateDivClass {
  position: relative;
  z-index: 1;
  padding: 16px 48px 16px 48px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 92%;
}

.textarea-container {
  position: relative;
}

textarea {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  resize: none; /* Disable native resize */
  margin: 0;
  padding: 4px 12px;
  border: 1px solid #ccc; /* Add your preferred border style */
  border-radius: 8px;
}
textarea:focus {
  border-color: #3498db;
  outline: none;
}

.resizeHandleClass {
  position: relative;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-end;
}
.resizeHandleClass svg {
  position: relative;
  cursor: pointer;
  top: -26px;
  right: 2px;
}

.resizeHandleClass svg:hover {
  filter: invert(0.2);
}

.inputCalenderIconClass:hover {
  filter: invert(0.5);
}

#descriptionTextAreaId {
  height: 64px;
}

.addTaskDetailsParentDivClass {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.leftSideChildDivClass {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.rightSideChildDivClass {
  width: 50%;
}

.verticalDivSeperatorClass {
  width: 1px;
  height: 400px;
  background-color: rgba(201, 201, 201, 0.445);
  margin: 0px 24px;
}

.clearCreateTaskButtonDivClass {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.clearCreateTaskButtonDivChildClass {
  display: flex;
  gap: 8px;
}
.clearCreateTaskButtonDivChildClass button {
  margin: 0px 0px 0px 8px;
}

.userContactCirclesDivClass {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 0px 20px 0px;
}

.userProfileCircleDivClass {
  width: 36px;
  height: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 8px 12px 0px 0px;
  font-weight: 800;
}

.categoryFormClass:hover.littleCircleDivClass {
  background-color: #091931;
}

.singleLineInputClass {
  appearance: none;
  height: 40px;
  width: 100%;
  min-width: 336px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  box-sizing: border-box;
  display: flex;
  border-radius: 8px;
  border: 1px solid #cccccc;
  cursor: pointer;
}

/* Datepicker placeholder color */
input[type="date"]:invalid::-webkit-datetime-edit {
  color: #818181;
}

.singleLineInputClass:focus {
  border-color: #3498db;
  outline: none;
}

.prioButtonDivClass {
  display: flex;
  align-items: center;

  gap: 8px;
}
.priorityButtonClass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 42px;
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.158) 0px 3px 5px;
  cursor: pointer;
}
.priorityButtonClass:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.178) 0px 2px 4px -2px;
}

.clearCreateButtonClass1 {
  color: #091931;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 42px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid #091931;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  cursor: pointer;
}
.clearCreateButtonClass1:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.clearCreateButtonClass1:hover svg path {
  stroke: #29abe2;
  /* fill: #29abe2; */
}

.clearCreateButtonClass2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 42px;
  font-size: 16px;
  font-weight: 600;
  background-color: #2a3647;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  cursor: pointer;
}
.clearCreateButtonClass2:hover {
  background-color: #29abe2;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Style for the dropdown button */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the clickable bar */
.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 8px;
  cursor: pointer;
  width: 100%; /* Adjusted for the triangle */
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the SVG triangle */
.dropbtn svg {
  fill: rgb(62, 65, 102);
  margin-left: auto;
  transition: transform 0.2s;
}

.dropbtn:hover svg {
  background-color: rgba(231, 231, 231, 0.705);
  border-radius: 50%;
}

/* Rotate the triangle when the dropdown is open */
.dropbtn.active svg {
  transform: rotate(180deg);
}

/* Style for the dropdown content */
.dropdownContactDivClass {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%; /* Adjusted for the triangle */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  height: 212px;
  overflow-y: auto;
}

.dropdownContactDivClass div {
  padding: 4px 16px;
  margin: 2px 0px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 8px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.dropdownContactDivClass div:not(.selected):hover {
  background-color: #ececec79;
}

/* Style for the contactSvgCircleClass with "AA" inside */
.contactSvgCircleClass {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #399b46;
  color: white;
  text-align: center;
  line-height: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Show the dropdown content when the button is clicked */
.dropdownContactDivClass.show {
  display: block;
}

/* Style for selected option */
.selected {
  background-color: #2a3647;
  color: white;
}
.selected:hover {
  background-color: #35455a;
}

/* Style for SVG checkbox */
.checkbox {
  width: 16px;
  height: 16px;
  stroke: #ffffff;
  /* border-radius: 3px; */
  padding: 6px;
}

.checkbox-unchecked {
  fill: none;
  stroke: #2a3647;
  stroke-width: 2;
}

.checkbox-checked {
  fill: #ffffff;
  stroke: #ffffff;
}

.selected .checkbox-checked {
  fill: white;
  stroke: #ffffff;
}

.circleAndNameSpanClass {
  display: flex;
  align-items: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  bottom: 0;
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 6px;
  top: 6px;
  opacity: 0.75;
}
input[type="date"]:-webkit-calendar-picker-indicator:hover {
  color: rgb(255, 0, 0);
}

.successMainOverlayParent {
}
#successOverlayId {
  display: none; /* Initially hidden */
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100%;
  background-color: #4d4d4d76;
  opacity: 0; /* Starts hidden */
  transition: opacity 300ms ease-in; /* Smooth transition for opacity */
}

#successOverlayId.fade-in {
  opacity: 1; /* Will fade in once the class is added */
  /* color: #455a75 */
}

.successMessageMainDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  width: auto;
  height: auto;
  min-width: 240px;
  padding: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background-color: #f6f7f8;
  border: 2px solid rgb(193, 193, 193);
  border-radius: 16px;

  margin: 0px 0px 0px 115px;
}
.successMessageMainDiv p {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
/* /////LOADING SPINNER */
/* HTML: <div class="loader"></div> */
.loader {
  display: flex;
  align-items: center;
  height: 15px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background: var(--_g) left, var(--_g) right;
  background-size: 25% 100%;
  display: grid;
  margin: 0px 12px 0px 12px;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  margin: auto;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #29abe2;
  clip-path: inset(0 0 49%);
  transform-origin: -100% 50%;
  animation: l27 0.5s infinite alternate ease-in-out;
}
.loader:after {
  --s: -1;
  transform-origin: 200% 50%;
}
@keyframes l27 {
  0%,
  40% {
    transform: scaleY(var(--s, 1)) rotate(0);
  }
  100% {
    transform: scaleY(var(--s, 1)) rotate(calc(var(--s, 1) * -20deg));
  }
}
/* ///////////////////////////// */

.littleCircleDivClass {
  position: relative;
  top: -27px;
  right: 8px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 50%;
}

/* ////////////////SUBTASKS///////////////// */
.addSubtaskTextInputClass {
  height: 40px;
  overflow-y: auto;
}

.subtasksDivContainerClass {
  display: flex;
  flex-direction: column;
  /* height: 80px; */
  height: 64px;
  overflow-y: auto;
}

.littleCircleDivClass2 {
  position: relative;
  top: -32px;
  right: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 50%;
  margin: 0px 0px 0px 6px;
}
.littleCircleDivClass2 svg {
  width: 12px;
  height: 12px;
}
.littleCircleDivClass2:hover {
  filter: invert(0.1);
}

.resizeHandleClass2 {
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.subtaskFirstIconDiv {
  margin: 0px 2px 0px 0px;
  display: flex;
  justify-content: space-between;
  width: 48px;
}

.iconsClass {
  width: 42px;
  height: 0px;
  display: none;
  justify-content: space-between;
  margin: 0px 12px 0px 0px;
}
.iconsClass img {
  position: relative;
  top: -8px;
  margin: 0px 0px 0px 0px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.iconsClass img:hover {
  filter: brightness(3);
}

.backGroundArrowClass {
  background-image: url("./assets/img/addTaskImg/inputArrowDown.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 99% 50%;
}
.backGroundArrowClass.open {
  background-image: url("./assets/img/addTaskImg/inputArrowUp.svg");
}

.subtaskDynamicDivClass {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subtaskDynamicDivClass:hover {
  background-color: #dadada;
  border-radius: 8px;
}
.subtaskDynamicDivClass:focus {
  background-color: white;
  outline: none;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 6px;
  padding: 0px 0px 0px 8px;
}

.subtaskFocusDivClass {
  border-radius: 6px;
  overflow-y: auto;
}
.subtaskFocusDivClass:focus {
  background-color: white;
  width: 100%;
  outline: none;
}

.subtaskFocusDivClass {
  max-height: 48px; /* Set maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* ////MEDIA QUERIES //// */
@media screen and (min-width: 1400px) {
  .addTaskMainSiteDivClass {
    padding: 96px 0px 0px 232px;
    display: flex;
    justify-content: center;
  }

  .addTaskMainTemplateDivClass {
    max-width: 1400px;
    width: 94%;
  }
}

@media screen and (max-width: 1020px) {
  .clearCreateTaskButtonDivChildClass {
    gap: 4px;
  }

  .addTaskMainTemplateDivClass {
    padding: 0px 16px 48px 16px;
  }

  .verticalDivSeperatorClass {
    margin: 0px 10px;
    background-color: #f6f7f8;
  }

  .addTaskMainSiteDivClass {
    padding: 96px 0px 0px 180px;
  }

  .successMessageMainDiv {
    margin: 0px 0px 0px 90px;
  }
}

@media screen and (max-width: 906px) {
  .clearCreateTaskButtonDivChildClass {
    gap: 4px;
  }

  .addTaskDetailsParentDivClass {
    flex-direction: column;
    align-items: center;
  }

  textarea {
    min-width: 336px;
  }

  .dropbtn {
    min-width: 336px;
  }

  .resizeHandleClass {
    /* min-width: 336px; */
  }

  .verticalDivSeperatorClass {
    display: none;
  }

  select {
    min-width: 336px;
  }

  .leftSideChildDivClass {
    width: 90%;
  }
  .rightSideChildDivClass {
    width: 90%;
  }

  .clearCreateTaskButtonDivClass {
    width: 90%;
    margin: 16px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
  }

  .addTaskMainTemplateDivClass {
    align-items: center;
  }
}

@media screen and (max-width: 620px) {
  .addTaskMainSiteDivClass {
    padding: 68px 0px 64px 0px;
  }
  .addTaskMainTemplateDivClass {
    padding: 10px 10px 32px 10px;
  }

  .prioButtonDivClass {
    justify-content: center;
    gap: 8px;
  }

  .successMessageMainDiv {
    margin: 0px 0px 0px 0px;
  }
}

@media screen and (max-width: 450px) {
  .priorityButtonClass {
    width: 200px;
    font-size: 14px;
  }

  .clearCreateButtonClass1 {
    width: 100px;
    font-size: 14px;
    justify-content: center;
    gap: 8px;
  }
  .clearCreateButtonClass2 {
    width: 140px;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .leftSideChildDivClass {
    width: 100%;
  }
  .rightSideChildDivClass {
    width: 100%;
  }
  .clearCreateTaskButtonDivClass {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .priorityButtonClass {
    width: 94px;
    font-size: 14px;
  }
  .prioButtonDivClass {
    gap: 4px;
  }

  .dropbtn {
    min-width: auto;
  }
  .singleLineInputClass {
    min-width: auto;
  }

  textarea {
    min-width: auto;
  }
  .resizeHandleClass {
    min-width: auto;
  }
  select {
    min-width: auto;
  }
}

@media screen and (max-width: 350px) {
  .priorityButtonClass {
    width: 92px;
    font-size: 12px;
  }
  .prioButtonDivClass {
    gap: 4px;
  }

  .priorityButtonClass svg {
    width: 16px;
    height: 16px;
  }

  .dropbtn {
    min-width: auto;
  }
  .singleLineInputClass {
    min-width: auto;
  }

  textarea {
    min-width: auto;
  }
  .resizeHandleClass {
    min-width: auto;
  }
  select {
    min-width: auto;
  }

  .clearCreateTaskButtonDivChildClass {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    gap: 8px;
  }
}
