body {
  margin: 0;
  width: 100%;
  background-color: #f6f7f8;
  font-family: "Inter";
}

.logo-logIn {
  margin: 80px 0px 0px 77px;
}

#mainLogoContainerId {
  height: 0px;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

.container-sign-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

#desktopSignUpDivId {
  position: absolute;
  top: 5%;
  right: 5%;
}
#mobileSignupDivId {
  display: none;
  margin: 32px 0px 16px 0px;
}

.sign-up-button {
  transition: all 200ms ease-in-out;
  width: 91px;
  height: 49px;
  border-radius: 8px;
  gap: 10px;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  color: white;
  background-color: #2a3647;
  cursor: pointer;
}

.sign-up-button:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.logIn-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 652px;
  height: 493px;
  margin-top: 65px;
  border-radius: 30px;
  gap: 32px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.logIn-container-total {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0px 0px 0px;
}

.header-log-in-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.headline-log-in {
  font-size: 61px;
  font-weight: 700;
  margin: 6px;
}

.bottom-line {
  height: 3px;
  width: 150px;
  background-color: #29abe2;
}

.input-log-In {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-input-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 422px;
  height: 48px;
  padding: 0px 0px 0px 20px;
  gap: 32px;
  border: 1px solid rgba(128, 128, 128, 0.404);
  border-radius: 10px;
  margin: 10px;
}

.input-field {
  width: 380px;
  height: 32px;
  font-size: 20px;
  outline: none;
  border: none;
  gap: 10;
}

.container-remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 422px;
  margin-left: 80px;
  margin-bottom: 10px;
}
.container-remember-me input {
  cursor: pointer;
}

.accept-field {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background-image: url(./assets/img/Check\ button.svg);
  cursor: pointer;
  display: inline-block;
  appearance: none;
  margin: 0;
}

.submit-container-log-in {
  display: flex;
  gap: 35px;
}

.logo-in-button {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  background-color: #2a3647;
  color: white;
  /* width: 110px; */
  height: 48px;
  border-radius: 8px;
  gap: 10px;
  font-size: 21px;
  font-weight: 700;
  border: 0;
  padding: 0px 12px 0px 12px;
}

.logo-in-button:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.logo-in-button-guest {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  background-color: #ffffff;
  width: 177px;
  height: 48px;
  border: 1px solid;
  font-size: 21px;
  font-weight: 700;
  border-radius: 8px;
  margin: 0px 0px 8px 0px;
}

.logo-in-button-guest:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.link-legal-and-privacy-size {
  display: flex;
  color: #a8a8a8;
  margin: 32px 0px 32px 0px;
  gap: 32px;
}

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #a8a8a8;
}

a:hover {
  color: #29abe2;
  transform: scale(1.08);
}

/* .inputFieldLogoClass{
padding: 0px 16px 0px 0px;

} */
.container-input-field img {
  position: relative;
  right: 16px;
}

/*---------------------------Animation-Logo----------------------------*/

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  background-color: #f6f7f8; /* Hintergrundfarbe */
}

#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f7f8;
  z-index: 1000;
  transition: opacity 1s ease;
  animation: fadeOut 1200ms forwards;
  animation-delay: 1s;
}

.logo {
  width: 150px;
  position: absolute;
  transition: all 1s ease;
}

.content {
  display: none;
  opacity: 0;
  transition: opacity 1s ease;
}

.loaded #preloader {
  opacity: 1;
  pointer-events: none;
}

@keyframes moveLogo {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
  }
  to {
    top: 5%;
    left: 5%;
    transform: translate(-5%, -5%) scale(1);
  }
}

#logoId {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 1002;
  animation: moveLogo 1s forwards ease-in;
  animation-delay: 0.4s;
  transition: opacity 0.3s;
}

.loaded .logo {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.loaded .content {
  display: block;
  opacity: 1;
}

@media (max-width: 600px) {
  #logoId path:nth-of-type(1),
  #logoId path:nth-of-type(2),
  #logoId path:nth-of-type(4),
  #logoId path:nth-of-type(5),
  #logoId path:nth-of-type(6) {
    fill: white;
    animation: changeColor 0.5s ease 1s forwards; /* 0.5s duration, ease timing, 1s delay */
  }
}

/* Define the keyframes for the animation */
@keyframes changeColor {
  to {
    fill: #2a3647;
  }
}

/* ////////////////NEU */
#loginMsgBox {
  display: none;
  align-items: center;
  margin: 16px 0px;
  font-weight: 700;
  padding: 8px;
  border: 1px solid #2a3647;
  border-radius: 8px;
  color: #2a3647;
}
#loginFormDivId {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

/* /////LOADING SPINNER */
/* HTML: <div class="loader"></div> */
.loader {
  display: flex;
  align-items: center;
  height: 15px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background: var(--_g) left, var(--_g) right;
  background-size: 25% 100%;
  display: grid;
  margin: 0px 12px 0px 12px;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  margin: auto;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #29abe2;
  clip-path: inset(0 0 49%);
  transform-origin: -100% 50%;
  animation: l27 0.5s infinite alternate ease-in-out;
}
.loader:after {
  --s: -1;
  transform-origin: 200% 50%;
}
@keyframes l27 {
  0%,
  40% {
    transform: scaleY(var(--s, 1)) rotate(0);
  }
  100% {
    transform: scaleY(var(--s, 1)) rotate(calc(var(--s, 1) * -20deg));
  }
}
/* ///////////////////////////// */

/*--------------------------------------------------------------------*/

@media (max-width: 750px) {
  .logIn-container {
    width: 502px;
    height: 555px;
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
  }

  .container-sign-up-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative;
        right: 0;
        top: 690px;
        gap: 35px; */
  }
  #desktopSignUpDivId {
    display: none;
  }
  #mobileSignupDivId {
    display: flex;
  }

  .submit-container-log-in {
    flex-direction: column;
  }

  .link-legal-and-privacy-size {
    display: flex;
    /* gap: 20px;
        margin-top: 180px; */
  }
  .logo-logIn {
    margin: 20px 0px 0px 57px;
  }

  .logo-in-button {
    /* width: 177px; */
  }

  /* NEU ////////////////////////////// */
  @keyframes moveLogo {
    from {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
    }
    to {
      top: 3.5%;
      left: 5%;
      transform: translate(-3.5%, -5%) scale(0.6);
    }
  }
  /* body{overflow-y: auto;} */

  .logo-logIn {
    margin: 0px 0px 0px 0px;
    height: 50px;
    width: 50px;
  }
  .logIn-container-total {
    margin: 160px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .logIn-container {
    width: 442px;
    height: auto;
    display: flex;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
  }

  .submit-container-log-in {
    flex-direction: column;
  }

  .link-legal-and-privacy-size {
    display: flex;
  }

  .container-input-field {
    width: 342px;
    height: 48px;
    padding: 0px 0px 0px 20px;
  }

  .input-log-In {
    width: 442px;
  }

  .preloader svg path {
    fill: white;
  }

  .preloader svg path.logo-color {
    fill: #29abe2;
  }

  #preloader {
    background-color: #2a3647;
  }
}

@media (max-width: 500px) {
  .logIn-container {
    width: 90%;

    display: flex;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
  }

  .submit-container-log-in {
    flex-direction: column;
  }

  .link-legal-and-privacy-size {
    display: flex;
  }

  .logo-in-button {
    height: 38px;
    font-size: 19px;
  }

  .container-input-field {
    width: 182px;
    height: 48px;
    padding: 0px 70px 0px 16px;
    font-size: 1;
  }

  .input-field {
    width: 180px;
  }

  .container-remember-me {
    width: 292px;
    justify-content: center;
    margin-left: 0;
  }

  .logo-in-button-guest {
    width: 160px;
    height: 38px;
    font-size: 19px;
  }

  .headline-log-in {
    font-size: 51px;
  }

  .bottom-line {
    width: 140px;
  }

  .sign-up-button {
    width: 100px;
    height: 39px;
  }

  .input-log-In {
    width: 292px;
  }

  section:nth-of-type(1) {
    height: 120px;
  }

  #logoId {
    width: 48px;
    height: 48px;
  }
  @keyframes moveLogo {
    from {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2);
    }
    to {
      top: 4%;
      left: 4%;
      transform: translate(-4%, -4%) scale(1);
    }
  }

  .logo-logIn {
    height: 0px;
  }

  .logIn-container-total {
    margin: 120px 0px 0px 0px;
  }
}

@media (max-width: 375px) {
  .link-legal-and-privacy-size {
    display: flex;
  }
}
