
<header>
    <a href="07logIn.html"><img id="mainLogoId" class="mainSideBarLogoClass2" src="./assets/img/mobileHeaderIcon.svg" alt=""></a>
    
    <span class="headerTitleSpanClass">Kanban Project Management Tool</span>
    <div class="helpAndUserDivClass">
        <a href="help.html"><img src="./assets/img/help.svg" alt=""></a>
        
        <div onclick="openAccountMenu()" class="userProfileDivClass" id="currentUserCircleId">
            
        </div>
        <div id="accountMenuDivId">
            <a href="help.html"><span>Help</span></a>
            <a href="privacy-policy.html"><span>Privacy Policy</span></a>
            <a href="legal-notice.html"><span>Legal Notice</span></a>
            <a onclick="logout()"><span >Log out</span></a>
            
        </div>
    </div>
</header>

<div class="mainSideBarDivClass">

    <a href="07logIn.html"><img class="mainSideBarLogoClass" src="./assets/img/Capa 1.svg" alt=""></a>
    <div class="sideBarNavigationDivClass">
        <a href="02summary.html" ><div class="navLinksClass"><div class="sideBarIconAndSpanDivClass"><img src="./assets/img/navIconSummary.svg" alt=""><span>Summary</span></div></div></a>
            <a href="04addTask.html" ><div class="navLinksClass"><div class="sideBarIconAndSpanDivClass"><img src="./assets/img/navIconAddTast.svg" alt=""><span>Add Task</span></div></div></a>
            <a href="03board.html" ><div class="navLinksClass"><div class="sideBarIconAndSpanDivClass"><img src="./assets/img/Vector.svg" alt=""><span>Board</span></div></div></a>
            <a href="05contacts.html" ><div class="navLinksClass"><div class="sideBarIconAndSpanDivClass"><img src="./assets/img/navIconContacts.svg" alt=""><span>Contacts</span></div></div></a>
    </div>
    <div class="legalNoticeSidebarDivClass">

        <a href="privacy-policy.html"><span>Privacy Policy</span></a>
        <a href="legal-notice.html"><span>Legal Notice</span></a>
        
        
    </div>
</div>



